<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-title></ion-title>
      <ion-button (click)="showModalSettings()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onClickExit()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="toolbar">
    <ion-item>
      <ion-label>
        <h1>
          Olá! {{ dataUser?.name != null ? (dataUser?.name.length > 15 ?
          dataUser?.name.substring(0,15) + '...' : dataUser?.name) :
          (dataUser?.userName.split('@ti.com')) }}
        </h1>
        <h1>{{ greetingDay }}</h1>
      </ion-label>
    </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-label position="stacked">Calendário</ion-label>
            <ion-datetime
              (ionChange)="onSelectDate($event)"
              locale="pt-BR"
              presentation="date"
            ></ion-datetime>
            <ion-item>
              <ion-label position="stacked">Filtro</ion-label>
              <ion-select
                #ionSelectStatus
                (ionChange)="onChangeStatus($event)"
                placeholder="Filtrar por status"
                cancelText="Cancelar"
                okText="Filtrar"
              >
                <ion-select-option
                  *ngFor="let status of listTypeStatus"
                  [value]="status"
                  >{{ status }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-searchbar
              (ionChange)="onSearchAdjustment($event)"
              mode="ios"
              placeholder="Buscar por nome"
            ></ion-searchbar>
            <ion-list>
              <ion-list-header>
                <ion-label>
                  <ion-title>Solicitações de Ajuste</ion-title>
                  <p>Solicitações de ajuste de ponto do dia.</p>
                </ion-label>
              </ion-list-header>
              <app-card-adjustment-manager
                *ngFor="let item of listAdjustment"
                (click)="onClickDetailAdjustment(item)"
                [data]="item"
              >
              </app-card-adjustment-manager>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                <ion-label>
                  <ion-title>Pontos do Dia</ion-title>
                  <p>Assinaturas de ponto em tempo real.</p>
                </ion-label>
              </ion-list-header>
              <app-card-point-day-manager
                *ngFor="let item of listAllPoints"
                [data]="item"
              >
              </app-card-point-day-manager>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row> </ion-row>
  </ion-grid>
</ion-content>
