<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Configurações</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button>
    <ion-card-content>
      <ion-card-subtitle>Meus dados</ion-card-subtitle>
      <ion-card-title>{{ dataUser?.userName }}</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card button>
    <ion-card-content>
      <ion-card-subtitle>Meu Gestor</ion-card-subtitle>
      <ion-card-title>{{ dataUser?.manager?.userName }}</ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-title>Selecion o Gestor</ion-title>
    </ion-list-header>
    <ion-searchbar
      (ionChange)="onChangeSearch($event)"
      placeholder="Buscar gestor"
      mode="ios"
    ></ion-searchbar>
    <ion-radio-group (ionChange)="onChangeRadioGroupManagers($event)" [(ngModel)]="dataManager">
      <ion-item *ngFor="let manager of listManagers">
        <ion-title>{{ manager?.userName.split('@ti.com') }}</ion-title>
        <ion-radio [value]="manager"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="full" shape="round" (click)="onClickSave()"
    >Salvar</ion-button
  >
</ion-content>
