<ion-accordion *ngFor="let point of listPoints">
  <ion-item class="card-point" slot="header">
    <ion-title class="title">
    {{ point?.status }}
    </ion-title>
  </ion-item>
  <ion-list slot="content">
    <div class="container-ajust">
      <ion-breadcrumbs>
        <ion-breadcrumb
          *ngFor="let item of listPoints"
          [color]="point == item ? 'primary' : ''"
        >
          <ion-icon
            [color]="point == item ? 'primary' : ''"
            name="alarm-outline"
          ></ion-icon>
          {{ item.hourPoint | date: "hh:mm a" }} -
          {{ item.status }}
          <ion-icon
            [color]="point == item ? 'primary' : ''"
            name="chevron-forward-outline"
          ></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </div>
  </ion-list>
</ion-accordion>
