<ion-content>
  <div class="background">
    <div class="toolbar" [hidden]="!dataUser">
      <ion-item>
        <ion-label>
          <h1>
            Olá {{ dataUser?.name != null ? (dataUser?.name.length > 15 ?
            dataUser?.name.substring(0,15) + '...' : dataUser?.name) :
            (dataUser?.userName.split('@ti.com')) }}
          </h1>
          <h1>{{ greetingDay }}</h1>
        </ion-label>
      </ion-item>
    </div>
    <div class="container-spinner" [hidden]="dataUser">
      <ion-spinner color="primary" name="bubbles"></ion-spinner>
    </div>
    <div [hidden]="!dataUser">
      <div>
        <ion-item hidden>
          <ion-label position="stacked">Status</ion-label>
          <ion-select
            (ionChange)="onChangeStatus($event)"
            (ionCancel)="ionSelectStatus.disabled = true"
            (ionBlur)="ionSelectStatus.disabled = true"
            placeholder="Selecione o status"
            interface="popover"
            cancelText="Cancelar"
            okText="Marcar"
          >
            <ion-select-option *ngFor="let status of listTypePoints"
              >{{ status }}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <br />
        <!---->
        <ion-row class="btn-pagination">
          <!---->
          <ion-col size="4">
            <ion-button
              (click)="onClickButtonNextAndBackPage('BACK')"
              class="button-left"
              fill="clean"
              color="light"
              size="small"
              expand="full"
            >
              <ion-icon name="chevron-back" color="dark"> </ion-icon>
            </ion-button>
          </ion-col>
          <!---->
          <ion-col size="4">
            <h6 class="text">{{ currentDateJorney | date: 'dd / MM' }}</h6>
          </ion-col>
          <!---->
          <ion-col size="4">
            <ion-button
              (click)="onClickButtonNextAndBackPage('NEXT')"
              class="button-right"
              color="light"
              fill="clean"
              size="small"
              expand="full"
            >
              <ion-icon name="chevron-forward" color="dark"> </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!---->

        <ion-button
          class="btn-point"
          (click)="onClickBaterPonto()"
          #ionButtonBaterPonto
          shape="round"
          fill="clear"
        >
          <img src="assets/images/button-ponto.svg" />
        </ion-button>
        <ion-button
          (click)="onClickVoltarPausa()"
          #ionButtonVoltarPausa
          [hidden]="ionButtonVoltarPausa.disabled"
          shape="round"
          color="tertiary"
        >
          <ion-label color="light">Voltar da Pausa</ion-label>
        </ion-button>
        <h1 class="label-tempo-logado">Tempo Logado</h1>
        <div class="container-timer">
          <div class="timer">
              <div *ngIf="jorneyDay?.finishJorney == true">
                <h1>{{ jorneyDay?.loggedTime }}</h1>
              </div>
              <div *ngIf="jorneyDay == null || jorneyDay?.finishJorney == false" >
                <h1>{{ loggedTime }}</h1>
              </div>
            <p>/6h:20min</p>
          </div>
        </div>
        <h1 class="label-tempo-logado">{{ currentStatus }}</h1>
      </div>
      <!---->
      <ion-list [hidden]="!listPoints.length">
        <ion-list-header>
          <ion-title>Pontos do dia</ion-title>
        </ion-list-header>
        <ion-accordion-group>
          <app-card-point
            [listPoints]="listPoints"
            [dataUserPoint]="jorneyDay"
            [dataUser]="dataUser"
          ></app-card-point>
        </ion-accordion-group>
      </ion-list>
      <!---->
      <br />
      <ion-button (click)="onClickMyProfile()" expand="full" shape="round"
        >Meu Perfil</ion-button
      >
      <br />
      <ion-button (click)="onClickDetailMyPoint()" expand="full" shape="round"
        >Ajuste de Ponto</ion-button
      >
      <br />
      <ion-button (click)="onClickAdjustmentPoint()" expand="full" shape="round"
        >Solicitar Ajuste</ion-button
      >
      <br />
      <ion-button (click)="onClickExitAccount()" expand="full" shape="round"
        >Sair da Conta</ion-button
      >
      <br />
    </div>
  </div>
</ion-content>
